<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Practice Project: GDP Data extraction and processing

Estimated time needed: **30** minutes

## Introduction

In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF). 

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

## Objectives

After completing this lab you will be able to:

 - Use Webscraping to extract required information from a website.
 - Use Pandas to load and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

## Dislcaimer

If you are using a downloaded version of this notebook on your local machine, you may encounter a warning message as shown in the screenshot below.

<p style="text-align:center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/mod_5/practice_project_disclaimer.png" width="700" alt="warning message">
</p>


This does not affect the execution of your codes in any way and can be simply ignored.

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [1]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

---

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [3]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [13]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
for i,table in enumerate(tables):
    print(f"tabla numero {i+1}:", table)

df = tables[3]
print(df)
# Replace the column headers with column numbers
df.columns = range(df.shape[1])
print("segundo df")
print(df)

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0, 2]]
print("tercer df")
print(df)
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]
print(df)
# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
print(df)

tabla numero 1:       0     1     2
0   Aug   SEP   Oct
1   NaN    02   NaN
2  2022  2023  2024
tabla numero 2:                                                    0
0  Largest economies in the world by GDP (nominal...
tabla numero 3:                                                    0  \
0  > $20 trillion $10–20 trillion $5–10 trillion ...

                                                   1  \
0  $750 billion – $1 trillion $500–750 billion $2...

                                                   2
0  $50–100 billion $25–50 billion $5–25 billion <...
tabla numero 4:     Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]
tabla numero 5:          vteLists of countries by financial rankings  \
0                                              Trade
1                                         Investment
2                                              Funds
3                                    Budget and debt
4                                   Income and taxes
5                                         Bank rates
6                                           Currency
7                                              Other
8  Lists of countries by GDP rankings List of int...

       vteLists of countries by financial rankings.1
0  Account balance % of GDP Exports by product me...
1                   FDI received past FDI abroad GFI
2  Forex reserves Forex reserves (ex. gold) Gold ...
3  Government budget PPP % of GDP per capita Cred...
4  Tax rates Inheritance tax Tax revenue Wage ave...
5  Central bank interest rate Commercial bank pri...
6               Exchange rates to US$ Inflation rate
7  Financial Development Index Average annual lab...
8  Lists of countries by GDP rankings List of int...
tabla numero 6:                vteLists of countries by GDP rankings  \
0                                            Nominal
1                      Purchasing power parity (PPP)
2                                        Growth rate
3                        Gross national income (GNI)
4                                Countries by region
5                              Subnational divisions
6  Lists of countries by financial rankings List ...

             vteLists of countries by GDP rankings.1
0  Per capita Past and projected per capita Secto...
1  Per capita Past per capita Past and projected ...
2  African countries Asian states European Union ...
3                  PPP per capita Nominal per capita
4  Africa PPP nominal Commonwealth of Nations PPP...
5  Albania Argentina Australia Austria Baltic Sta...
6  Lists of countries by financial rankings List ...
tabla numero 7:               vteEconomic classification of countries  \
0   Developed country Developing country Least dev...
1                                   Three-World Model
2                        Gross domestic product (GDP)
3                                             Nominal
4                       Purchasing power parity (PPP)
5                         Gross national income (GNI)
6                                               Wages
7                                              Wealth
8                             Other national accounts
9                                   Human development
10                                     Digital divide
11       Net international investment position (NIIP)
12                    Economics portal • World portal

            vteEconomic classification of countries.1
0   Developed country Developing country Least dev...
1   First World Second World Third World Fourth World
2   Nominal By country past and projected per capi...
3   By country past and projected per capita per c...
4   By country future estimates per capita per cap...
5   (Nominal, Atlas method) per capita (PPP) per c...
6   Average wage Europe Employee compensation (per...
7   Wealth per adult Europe Financial assets per c...
8   Gross National Happiness Net material product ...
9   Human Development Index by country inequality-...
10  ICT Development Index Number of broadband Inte...
11        Per capita (creditors) Per capita (debtors)
12                    Economics portal • World portal
tabla numero 8:                                0  \
0                        Nominal
1  Purchasing power parity (PPP)

                                                   1
0  By country past and projected per capita per c...
1  By country future estimates per capita per cap...
    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]
segundo df
                 0         1          2          3          4          5  \
0            World         —  105568776       2023  100562011       2022
1    United States  Americas   26854599       2023   25462700       2022
2            China      Asia   19373586  [n 1]2023   17963171  [n 3]2022
3            Japan      Asia    4409738       2023    4231141       2022
4          Germany    Europe    4308854       2023    4072192       2022
..             ...       ...        ...        ...        ...        ...
209       Anguilla  Americas          —          —          —          —
210       Kiribati   Oceania        248       2023        223       2022
211          Nauru   Oceania        151       2023        151       2022
212     Montserrat  Americas          —          —          —          —
213         Tuvalu   Oceania         65       2023         60       2022

            6          7
0    96698005       2021
1    23315081       2021
2    17734131  [n 1]2021
3     4940878       2021
4     4259935       2021
..        ...        ...
209       303       2021
210       227       2021
211       155       2021
212        72       2021
213        60       2021

[214 rows x 8 columns]
tercer df
                 0          2
0            World  105568776
1    United States   26854599
2            China   19373586
3            Japan    4409738
4          Germany    4308854
..             ...        ...
209       Anguilla          —
210       Kiribati        248
211          Nauru        151
212     Montserrat          —
213         Tuvalu         65

[214 rows x 2 columns]
                 0         2
1    United States  26854599
2            China  19373586
3            Japan   4409738
4          Germany   4308854
5            India   3736882
6   United Kingdom   3158938
7           France   2923489
8            Italy   2169745
9           Canada   2089672
10          Brazil   2081235
           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

<details>
    <summary>Click here for Solution</summary>

```python
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
```

</details>

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP (Billion USD)`.

In [ ]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (MillionvUSD)'] = df['GDP (MillionvUSD)'].astype(int)
print(df)
# Convert the GDP value in Million USD to Billion USD
df['GDP (MillionvUSD)'] = df['GDP (MillionvUSD)']/1000
# Use numpy.round() method to round the value to 2 decimal places.
df['GDP (MillionvUSD)'] = 
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'

<details>
    <summary>Click here for solution</summary>
    
```python
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

```
</details>

### Exercise 3

Load the DataFrame to the CSV file named "Largest_economies.csv"

In [ ]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"

<details>
    <summary>Click here for Solution</summary>

```python
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')
```

</details>

---

# Congratulations! You have completed the lab.

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-11-10|0.1|Abhishek Gagneja|Created initial version|

Copyright © 2023 IBM Corporation. All rights reserved.